
# ETL Foreign Exchange Rates from Bangko Sentral ng Pilipinas

## Todos:

1. Create a python script that will scrape exchange rate conversions from [Bangko Sentral ng Pilipinas](https://www.bsp.gov.ph/SitePages/Statistics/ExchangeRate.aspx) official website.
2. Save the raw unprocessed scraped data to `data/raw/rates` and name it as **rates_[timestamp].json**.
2. Use **pyspark** to do cleansing and transformation against the scraped data.
3. Save the processed data as **rates.json** to `data/processed/rates` folder.
4. Use `Postgres` db to store and analyze processed foreign exchange rates.
5. Schedule the ETL task to run on a daily basis.

## Prerequisites:

- **Selenium** is going to be used for automating browser operations.
- **WebDriver Manager (_optional_)** will provide us the driver we need to work with selenium.
- **BeautifulSoup** will parse the html markup to be generated by selenium.
- **PySpark** will be used for data wrangling, cleansing and transformation.

## Install required packages

You can install required packages by running the ff. command:

- Run from a terminal:

```
    pip install webdriver_manager bs4 selenium
```

- Run from a notebook:

```
    !pip install webdriver_manager bs4 selenium
```

## Creating the scraping tool using python

Start by importing all the necessary libraries

In [62]:
# Third-party libraries
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup

# Local imports
import json
import csv
from datetime import datetime

This one is optional, but if you want your browser to run only in the background, add the following lines of code:

In [63]:
from selenium.webdriver.chrome.options import Options
options = Options()
options.headless = True # This option will hide your browsers user interface

The following lines of code will do the ff:

1. Starts up a browser that will automatically redirect to **Bangko Sentral ng Pilipinas** official website.
2. Captures the website's page source and then stores it to `html` variable.
3. BeautifulSoup will then parse the value stored in `html`.
4. Uses the `.find()` method to search for the web element(s) which contains the data we needed to extract.
5. Saves the extracted data inside `data/raw` folder.

In [64]:
URL = "https://www.bsp.gov.ph/SitePages/Statistics/ExchangeRate.aspx"

driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)
driver.get(URL)
driver.implicitly_wait(10)

html = driver.page_source
soup = BeautifulSoup(html, "html.parser")

exchange_rate_table = soup.find(id="tb1")
table2 = soup.find(id="tb2")

headers = [
    "country",
    "unit",
    "symbol",
    "euro_equivalent",
    "us_dollar_equivalent",
    "phil_peso_equivalent"
]

row = []
rates = []

for index, _ in enumerate(exchange_rate_table.contents):
    row.clear()
    if index > 0:
        for index, tag in enumerate(_.contents):
            row.append(tag.text)
        rates.append(list(row))

# Appends row headers at the beginning of the list
rates.insert(0, headers) 

timestamp = datetime.now().strftime("%Y%m%d_%T").replace(":", "")

with open(f"data/raw/rates_{timestamp}.csv", "w", newline="\n") as f:
    writer = csv.writer(f)
    writer.writerows(rates)

C:\Users\john.delmundo\AppData\Local\Temp\ipykernel_27212\1261582902.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)

## Create a spark session

In [127]:
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .config("spark.driver.extraClassPath", r"C:\Users\john.delmundo\AppData\Local\Programs\Python\Python310\Lib\site-packages\pyspark\jars\postgresql-42.6.0.jar") \
    .appName("ETL Foreign Exchange Rates from Bangko Sentral ng Pilipinas") \
    .getOrCreate()

In [128]:
SparkConf().set("spark.app.name", "ETL Foreign Exchange Rates from Bangko Sentral ng Pilipinas")

In [129]:
spark.conf.get("spark.app.name")

'ETL Foreign Exchange Rates from Bangko Sentral ng Pilipinas'

In [130]:
spark.conf.get("spark.master")

'local[*]'

In [131]:
spark

## Define the structure of the schema

In here, we use the **StructType** and **StructField** python classes to define the structure of our schema.

In [132]:
from pyspark.sql.types import (
    StructType, 
    StructField, 
    FloatType,
    StringType
)

path = "data/raw/rates_20230523_173600.csv"

struct = StructType([
    StructField("country", StringType(), False),
    StructField("unit", StringType(), False),
    StructField("symbol", StringType(), False),
    StructField("euro_equivalent", FloatType(), False),
    StructField("us_dollar_equivalent", FloatType(), False),
    StructField("phil_peso_equivalent", FloatType(), False)
])

df = spark \
    .read \
    .schema(struct) \
    .option("header", True) \
    .csv(path)

## Your data at a glance

Before anything else, it's important to review what your data looks like. By doing so, it would help you understand the data that you're working with.

In [133]:
df.show()

+--------------------+--------+------+---------------+--------------------+--------------------+
|             country|    unit|symbol|euro_equivalent|us_dollar_equivalent|phil_peso_equivalent|
+--------------------+--------+------+---------------+--------------------+--------------------+
|     1 UNITED STATES|  DOLLAR|   USD|       0.924642|                 1.0|              55.797|
|             2 JAPAN|     YEN|   JPY|       0.006673|            0.007217|              0.4027|
|    3 UNITED KINGDOM|   POUND|   GBP|       1.149977|              1.2437|             69.3947|
|          4 HONGKONG|  DOLLAR|   HKD|        0.11812|            0.127747|              7.1279|
|       5 SWITZERLAND|   FRANC|   CHF|       1.030241|            1.114206|             62.1694|
|            6 CANADA|  DOLLAR|   CAD|       0.684971|            0.740796|             41.3342|
|         7 SINGAPORE|  DOLLAR|   SGD|       0.687006|            0.742997|              41.457|
|         8 AUSTRALIA|  DOLLAR|   AUD|       0.614794|              0.6649|             37.0994|
|           9 BAHRAIN|  DINAR*|   BHD|       2.452826|            2.652731|            148.0144|
|           10 KUWAIT|   DINAR|   KWD|           null|                null|                null|
|     11 SAUDI ARABIA|   RIYAL|   SAR|       0.246578|            0.266674|             14.8796|
|           12 BRUNEI|  DOLLAR|   BND|       0.684463|            0.740247|             41.3036|
|        13 INDONESIA|  RUPIAH|   IDR|         6.2E-5|              6.7E-5|              0.0037|
|         14 THAILAND|BAHT****|   THB|       0.026855|            0.029044|              1.6206|
|15 UNITED ARAB EM...|  DIRHAM|   AED|       0.251829|            0.272353|             15.1965|
|16 EUROPEAN MONET...|    EURO|   EUR|            1.0|              1.0815|             60.3445|
|            17 KOREA|     WON|   KRW|        7.05E-4|             7.62E-4|              0.0425|
|            18 CHINA|  YUAN**|   CNY|       0.131513|            0.142231|              7.9361|
+--------------------+--------+------+---------------+--------------------+--------------------+

## Verify the schema

In [134]:
df.printSchema()

root
 |-- country: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- symbol: string (nullable = true)
 |-- euro_equivalent: float (nullable = true)
 |-- us_dollar_equivalent: float (nullable = true)
 |-- phil_peso_equivalent: float (nullable = true)

## Viewing data summary

In [135]:
df.summary().show()

+-------+---------------+--------+------+------------------+--------------------+--------------------+
|summary|        country|    unit|symbol|   euro_equivalent|us_dollar_equivalent|phil_peso_equivalent|
+-------+---------------+--------+------+------------------+--------------------+--------------------+
|  count|             18|      18|    18|                17|                  17|                  17|
|   mean|           null|    null|  null|0.5888973548456252|  0.6368924719255815|   35.53669452802826|
| stddev|           null|    null|  null|0.6276651628587195|  0.6788198137459448|   37.87610591694862|
|    min|1 UNITED STATES|BAHT****|   AED|            6.2E-5|              6.7E-5|              0.0037|
|    25%|           null|    null|  null|           0.11812|            0.127747|              7.1279|
|    50%|           null|    null|  null|          0.614794|              0.6649|             37.0994|
|    75%|           null|    null|  null|          0.924642|                 1.0|              55.797|
|    max|      9 BAHRAIN|  YUAN**|   USD|          2.452826|            2.652731|            148.0144|
+-------+---------------+--------+------+------------------+--------------------+--------------------+

## Transforming the data

In [136]:
from pyspark.sql.functions import split

df1 = df.select(
    split("country", " ", -1).alias("country"),
    "unit",
    "symbol",
    "euro_equivalent",
    "us_dollar_equivalent",
    "phil_peso_equivalent"
)

df1.select("country").show()

+--------------------+
|             country|
+--------------------+
| [1, UNITED, STATES]|
|          [2, JAPAN]|
|[3, UNITED, KINGDOM]|
|       [4, HONGKONG]|
|    [5, SWITZERLAND]|
|         [6, CANADA]|
|      [7, SINGAPORE]|
|      [8, AUSTRALIA]|
|        [9, BAHRAIN]|
|        [10, KUWAIT]|
| [11, SAUDI, ARABIA]|
|        [12, BRUNEI]|
|     [13, INDONESIA]|
|      [14, THAILAND]|
|[15, UNITED, ARAB...|
|[16, EUROPEAN, MO...|
|         [17, KOREA]|
|         [18, CHINA]|
+--------------------+

In [137]:
from pyspark.sql.functions import slice, concat_ws, size

df1 = df1.select(
    slice("country", 2, size("country")).alias("country"),
    "unit",
    "symbol",
    "euro_equivalent",
    "us_dollar_equivalent",
    "phil_peso_equivalent"
)

df1.select("country").show()

df1_view = df1.createOrReplaceTempView("exchange_rates")

+--------------------+
|             country|
+--------------------+
|    [UNITED, STATES]|
|             [JAPAN]|
|   [UNITED, KINGDOM]|
|          [HONGKONG]|
|       [SWITZERLAND]|
|            [CANADA]|
|         [SINGAPORE]|
|         [AUSTRALIA]|
|           [BAHRAIN]|
|            [KUWAIT]|
|     [SAUDI, ARABIA]|
|            [BRUNEI]|
|         [INDONESIA]|
|          [THAILAND]|
|[UNITED, ARAB, EM...|
|[EUROPEAN, MONETA...|
|             [KOREA]|
|             [CHINA]|
+--------------------+

In [138]:
from pyspark.sql.functions import concat_ws

df1 = df1.select(
    concat_ws(" ", "country").alias("country"),
    "unit",
    "symbol",
    "euro_equivalent",
    "us_dollar_equivalent",
    "phil_peso_equivalent"
)

df1.select("country").show()

df1_view = df1.createOrReplaceTempView("exchange_rates")

+--------------------+
|             country|
+--------------------+
|       UNITED STATES|
|               JAPAN|
|      UNITED KINGDOM|
|            HONGKONG|
|         SWITZERLAND|
|              CANADA|
|           SINGAPORE|
|           AUSTRALIA|
|             BAHRAIN|
|              KUWAIT|
|        SAUDI ARABIA|
|              BRUNEI|
|           INDONESIA|
|            THAILAND|
|UNITED ARAB EMIRATES|
|EUROPEAN MONETARY...|
|               KOREA|
|               CHINA|
+--------------------+

In [139]:
script = """SELECT 
                INITCAP(country) AS country, 
                unit, 
                symbol, 
                euro_equivalent, 
                us_dollar_equivalent,
                phil_peso_equivalent 
            from 
                exchange_rates
    """

res = spark.sql(script)
res.select("country").show()

+--------------------+
|             country|
+--------------------+
|       United States|
|               Japan|
|      United Kingdom|
|            Hongkong|
|         Switzerland|
|              Canada|
|           Singapore|
|           Australia|
|             Bahrain|
|              Kuwait|
|        Saudi Arabia|
|              Brunei|
|           Indonesia|
|            Thailand|
|United Arab Emirates|
|European Monetary...|
|               Korea|
|               China|
+--------------------+

In [140]:
from pyspark.sql.functions import (
    current_date, 
    current_timestamp
)

res.select("*").withColumn("timestamp", current_timestamp()).show(truncate=100)
res = res.select("*").withColumn("timestamp", current_timestamp())

+-----------------------+--------+------+---------------+--------------------+--------------------+--------------------------+
|                country|    unit|symbol|euro_equivalent|us_dollar_equivalent|phil_peso_equivalent|                 timestamp|
+-----------------------+--------+------+---------------+--------------------+--------------------+--------------------------+
|          United States|  DOLLAR|   USD|       0.924642|                 1.0|              55.797|2023-05-24 14:36:31.228438|
|                  Japan|     YEN|   JPY|       0.006673|            0.007217|              0.4027|2023-05-24 14:36:31.228438|
|         United Kingdom|   POUND|   GBP|       1.149977|              1.2437|             69.3947|2023-05-24 14:36:31.228438|
|               Hongkong|  DOLLAR|   HKD|        0.11812|            0.127747|              7.1279|2023-05-24 14:36:31.228438|
|            Switzerland|   FRANC|   CHF|       1.030241|            1.114206|             62.1694|2023-05-24 14:36:31.228438|
|                 Canada|  DOLLAR|   CAD|       0.684971|            0.740796|             41.3342|2023-05-24 14:36:31.228438|
|              Singapore|  DOLLAR|   SGD|       0.687006|            0.742997|              41.457|2023-05-24 14:36:31.228438|
|              Australia|  DOLLAR|   AUD|       0.614794|              0.6649|             37.0994|2023-05-24 14:36:31.228438|
|                Bahrain|  DINAR*|   BHD|       2.452826|            2.652731|            148.0144|2023-05-24 14:36:31.228438|
|                 Kuwait|   DINAR|   KWD|           null|                null|                null|2023-05-24 14:36:31.228438|
|           Saudi Arabia|   RIYAL|   SAR|       0.246578|            0.266674|             14.8796|2023-05-24 14:36:31.228438|
|                 Brunei|  DOLLAR|   BND|       0.684463|            0.740247|             41.3036|2023-05-24 14:36:31.228438|
|              Indonesia|  RUPIAH|   IDR|         6.2E-5|              6.7E-5|              0.0037|2023-05-24 14:36:31.228438|
|               Thailand|BAHT****|   THB|       0.026855|            0.029044|              1.6206|2023-05-24 14:36:31.228438|
|   United Arab Emirates|  DIRHAM|   AED|       0.251829|            0.272353|             15.1965|2023-05-24 14:36:31.228438|
|European Monetary Union|    EURO|   EUR|            1.0|              1.0815|             60.3445|2023-05-24 14:36:31.228438|
|                  Korea|     WON|   KRW|        7.05E-4|             7.62E-4|              0.0425|2023-05-24 14:36:31.228438|
|                  China|  YUAN**|   CNY|       0.131513|            0.142231|              7.9361|2023-05-24 14:36:31.228438|
+-----------------------+--------+------+---------------+--------------------+--------------------+--------------------------+

In [141]:
timestamp = datetime.now().strftime("%Y%m%d_%T").replace(":", "")

res.write \
    .mode("overwrite") \
    .format("csv") \
    .save(r"data\processed\rates\rates_{}".format(timestamp))

In [142]:
rates_df = spark.read \
    .option("header", True) \
    .csv(r"data\processed\rates\rates_{}".format(timestamp))

In [143]:
rates_df.show()

+--------------------+--------+---+--------+--------+--------+-----------------------------+
|       United States|  DOLLAR|USD|0.924642|     1.0|  55.797|2023-05-24T14:36:31.402+08:00|
+--------------------+--------+---+--------+--------+--------+-----------------------------+
|               Japan|     YEN|JPY|0.006673|0.007217|  0.4027|         2023-05-24T14:36:...|
|      United Kingdom|   POUND|GBP|1.149977|  1.2437| 69.3947|         2023-05-24T14:36:...|
|            Hongkong|  DOLLAR|HKD| 0.11812|0.127747|  7.1279|         2023-05-24T14:36:...|
|         Switzerland|   FRANC|CHF|1.030241|1.114206| 62.1694|         2023-05-24T14:36:...|
|              Canada|  DOLLAR|CAD|0.684971|0.740796| 41.3342|         2023-05-24T14:36:...|
|           Singapore|  DOLLAR|SGD|0.687006|0.742997|  41.457|         2023-05-24T14:36:...|
|           Australia|  DOLLAR|AUD|0.614794|  0.6649| 37.0994|         2023-05-24T14:36:...|
|             Bahrain|  DINAR*|BHD|2.452826|2.652731|148.0144|         2023-05-24T14:36:...|
|              Kuwait|   DINAR|KWD|    null|    null|    null|         2023-05-24T14:36:...|
|        Saudi Arabia|   RIYAL|SAR|0.246578|0.266674| 14.8796|         2023-05-24T14:36:...|
|              Brunei|  DOLLAR|BND|0.684463|0.740247| 41.3036|         2023-05-24T14:36:...|
|           Indonesia|  RUPIAH|IDR|  6.2E-5|  6.7E-5|  0.0037|         2023-05-24T14:36:...|
|            Thailand|BAHT****|THB|0.026855|0.029044|  1.6206|         2023-05-24T14:36:...|
|United Arab Emirates|  DIRHAM|AED|0.251829|0.272353| 15.1965|         2023-05-24T14:36:...|
|European Monetary...|    EURO|EUR|     1.0|  1.0815| 60.3445|         2023-05-24T14:36:...|
|               Korea|     WON|KRW| 7.05E-4| 7.62E-4|  0.0425|         2023-05-24T14:36:...|
|               China|  YUAN**|CNY|0.131513|0.142231|  7.9361|         2023-05-24T14:36:...|
+--------------------+--------+---+--------+--------+--------+-----------------------------+

In [146]:
spark.conf.get("spark.driver.extraClassPath")

'C:\\Users\\john.delmundo\\AppData\\Local\\Programs\\Python\\Python310\\Lib\\site-packages\\pyspark\\jars\\postgresql-42.6.0.jar'

## Store data to Postgres

In [159]:
host = "localhost"
port = "5432"
username = "postgres"
password = "admin123"
database = "exchange_rates"
table = "rates"
url = f"jdbc:postgresql://{host}:{port}/{database}"

res.write \
    .format("jdbc") \
    .option("url", url) \
    .option("dbtable", table) \
    .option("user", username) \
    .option("password", password) \
    .mode("overwrite") \
    .save()

In [160]:
%load_ext sql

In [175]:
%%sql

postgresql://postgres:admin123@localhost/exchange_rates
        
SELECT country,
    ROUNDunit,
    symbol,
    euro_equivalent,
    us_dollar_equivalent,
    phil_peso_equivalent,
    timestamp
FROM rates;

36 rows affected.

[('United States', 'DOLLAR', 'USD', 0.9283329844474792, 1.0, 55.96699905395508, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Japan', 'YEN', 'JPY', 0.006694999989122152, 0.0072119999676942825, 0.4036000072956085, datetime.datetime(2023, 5, 19, 0, 0)),
 ('United Kingdom', 'POUND', 'GBP', 1.1518750190734863, 1.2408000230789185, 69.44390106201172, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Hongkong', 'DOLLAR', 'HKD', 0.11861199885606766, 0.12776899337768555, 7.1508002281188965, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Switzerland', 'FRANC', 'CHF', 1.0260089635849, 1.1052169799804688, 61.8557014465332, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Canada', 'DOLLAR', 'CAD', 0.6875519752502441, 0.7406309843063354, 41.45090103149414, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Singapore', 'DOLLAR', 'SGD', 0.6889299750328064, 0.7421150207519531, 41.534000396728516, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Australia', 'DOLLAR', 'AUD', 0.6146489977836609, 0.6621000170707703, 37.05580139160156, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Bahrain', 'DINAR*', 'BHD', 2.4627480506896973, 2.652872085571289, 148.47329711914062, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Kuwait', 'DINAR', 'KWD', None, None, None, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Saudi Arabia', 'RIYAL', 'SAR', 0.2475620061159134, 0.2666740119457245, 14.92490005493164, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Brunei', 'DOLLAR', 'BND', 0.6863830089569092, 0.7393720149993896, 41.380401611328125, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Indonesia', 'RUPIAH', 'IDR', 6.199999916134402e-05, 6.70000008540228e-05, 0.003700000001117587, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Thailand', 'BAHT****', 'THB', 0.026993999257683754, 0.02907799929380417, 1.6274000406265259, datetime.datetime(2023, 5, 19, 0, 0)),
 ('United Arab Emirates', 'DIRHAM', 'AED', 0.25286200642585754, 0.2723830044269562, 15.244500160217285, datetime.datetime(2023, 5, 19, 0, 0)),
 ('European Monetary Union', 'EURO', 'EUR', 1.0, 1.0772000551223755, 60.28770065307617, datetime.datetime(2023, 5, 19, 0, 0)),
 ('Korea', 'WON', 'KRW', 0.0006960000027902424, 0.000750000006519258, 0.041999999433755875, datetime.datetime(2023, 5, 19, 0, 0)),
 ('China', 'YUAN**', 'CNY', 0.13192200660705566, 0.14210599660873413, 7.953199863433838, datetime.datetime(2023, 5, 19, 0, 0)),
 ('United States', 'DOLLAR', 'USD', 0.924642026424408, 1.0, 55.797000885009766, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Japan', 'YEN', 'JPY', 0.006672999821603298, 0.007216999772936106, 0.4027000069618225, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('United Kingdom', 'POUND', 'GBP', 1.1499769687652588, 1.2437000274658203, 69.39469909667969, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Hongkong', 'DOLLAR', 'HKD', 0.11811999976634979, 0.12774699926376343, 7.127900123596191, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Switzerland', 'FRANC', 'CHF', 1.0302410125732422, 1.1142059564590454, 62.16939926147461, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Canada', 'DOLLAR', 'CAD', 0.6849709749221802, 0.7407960295677185, 41.33420181274414, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Singapore', 'DOLLAR', 'SGD', 0.6870059967041016, 0.7429969906806946, 41.457000732421875, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Australia', 'DOLLAR', 'AUD', 0.6147940158843994, 0.664900004863739, 37.09939956665039, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Bahrain', 'DINAR*', 'BHD', 2.4528260231018066, 2.652730941772461, 148.014404296875, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Kuwait', 'DINAR', 'KWD', None, None, None, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Saudi Arabia', 'RIYAL', 'SAR', 0.24657799303531647, 0.2666740119457245, 14.879599571228027, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Brunei', 'DOLLAR', 'BND', 0.6844630241394043, 0.7402470111846924, 41.3036003112793, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Indonesia', 'RUPIAH', 'IDR', 6.199999916134402e-05, 6.70000008540228e-05, 0.003700000001117587, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Thailand', 'BAHT****', 'THB', 0.026854999363422394, 0.029044000431895256, 1.6205999851226807, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('United Arab Emirates', 'DIRHAM', 'AED', 0.25182899832725525, 0.27235299348831177, 15.196499824523926, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('European Monetary Union', 'EURO', 'EUR', 1.0, 1.0815000534057617, 60.34450149536133, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('Korea', 'WON', 'KRW', 0.0007050000131130219, 0.0007619999814778566, 0.042500000447034836, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067)),
 ('China', 'YUAN**', 'CNY', 0.13151299953460693, 0.14223100244998932, 7.936100006103516, datetime.datetime(2023, 5, 24, 14, 50, 22, 6067))]

In [181]:
%%sql

SELECT COUNTRY,
	UNIT,
	SYMBOL,
	ROUND(CAST(EURO_EQUIVALENT AS decimal),
		2) as euro_equivalent,
	ROUND(CAST(US_DOLLAR_EQUIVALENT AS decimal),
		2) as us_dollar_equivalent,
	ROUND(CAST(PHIL_PESO_EQUIVALENT AS decimal),
		2) as phil_peso_equivalent, CAST(timestamp AS date)
FROM RATES
LIMIT 10;

 * postgresql://postgres:***@localhost/exchange_rates
10 rows affected.

[('United States', 'DOLLAR', 'USD', Decimal('0.93'), Decimal('1.00'), Decimal('55.97'), datetime.date(2023, 5, 19)),
 ('Japan', 'YEN', 'JPY', Decimal('0.01'), Decimal('0.01'), Decimal('0.40'), datetime.date(2023, 5, 19)),
 ('United Kingdom', 'POUND', 'GBP', Decimal('1.15'), Decimal('1.24'), Decimal('69.44'), datetime.date(2023, 5, 19)),
 ('Hongkong', 'DOLLAR', 'HKD', Decimal('0.12'), Decimal('0.13'), Decimal('7.15'), datetime.date(2023, 5, 19)),
 ('Switzerland', 'FRANC', 'CHF', Decimal('1.03'), Decimal('1.11'), Decimal('61.86'), datetime.date(2023, 5, 19)),
 ('Canada', 'DOLLAR', 'CAD', Decimal('0.69'), Decimal('0.74'), Decimal('41.45'), datetime.date(2023, 5, 19)),
 ('Singapore', 'DOLLAR', 'SGD', Decimal('0.69'), Decimal('0.74'), Decimal('41.53'), datetime.date(2023, 5, 19)),
 ('Australia', 'DOLLAR', 'AUD', Decimal('0.61'), Decimal('0.66'), Decimal('37.06'), datetime.date(2023, 5, 19)),
 ('Bahrain', 'DINAR*', 'BHD', Decimal('2.46'), Decimal('2.65'), Decimal('148.47'), datetime.date(2023, 5, 19)),
 ('Kuwait', 'DINAR', 'KWD', None, None, None, datetime.date(2023, 5, 19))]